<div class="branch-container">
  <div class="author-container">
    <div class="author">
      <div>
        <h1 class="title">{{ currentReadArticle.ArticleTitle }}</h1>
        <p class="subtitle">Every cloud has a sliver lining.</p>
      </div>
      <div>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ currentReadArticle.Account }}</mat-card-title>
            <mat-card-subtitle>{{ currentReadArticle.Date }}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="article-container">
    <div>
      <img class="main-picture" src="https://i.imgur.com/q1tAa7k.jpg" />
    </div>
    <div class="picture-subtitle">
      <p>
        Use rxjs operators generally to make your thinking more functionally and
        reactively.
      </p>
    </div>
    <div
      class="mw728 w100 font-field"
      [innerHtml]="currentReadArticle.ArticleContent"
    ></div>
  </div>
</div>
