<div class="header">
  <div class="headertitle">
    <!-- mat-flat-button -->
    <a class="headeranchor" [routerLink]="" (click)="toMain()">PseudoMedium</a>
  </div>
  <div class="headerbtn">
    <button mat-icon-button color="primary">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button (click)="toLogin()" *ngIf="!userservice.isLoggedIn">
      <!-- *ngIf="!userservice.isLoggedIn" -->
      Sign In
    </button>
    <button mat-stroked-button color="primary" (click)="toRegister()" *ngIf="">
      Get Started
    </button>
    <button
      mat-stroked-button
      *ngIf="userservice.isLoggedIn"
      (click)="Logout()"
    >
      LogOut
    </button>
  </div>
</div>
