.example-container {
  height: 50vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  .w50 {
    width: 25%;
  }
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
