<div class="branch-container">
    <div class="author">
        <div>
            <h1 class="title">Angular, you piped and observabled me.</h1>
            <p class="subtitle">Every cloud has a sliver lining.</p>
        </div>
        <div>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>TyChang</mat-card-title>
                    <mat-card-subtitle>Sep 10</mat-card-subtitle>
                </mat-card-header>

            </mat-card>
        </div>
    </div>
    <div>
        <div class="main-picture"></div>
    </div>
</div>