<div></div>
<div class="title">
  <h1 class="titlefont">Your Stories</h1>
  <div>
    <button mat-stroked-button class="m3">Import a story</button>
    <button mat-stroked-button class="mediumcolor m3" (click)="toNewStory()">
      Write a story
    </button>
  </div>
</div>
<div class="navigation">
  <mat-tab-group>
    <mat-tab label="Drafts">
      Write on the go with our iOS and Android apps!
    </mat-tab>
    <mat-tab label="Published">
      <mat-list *ngFor="let article of articleList; let index = index">
        <mat-list-item>
          <a
            [routerLink]=""
            (click)="toBeingReadStory(article)"
            style="color:#000000; text-decoration: none;"
            >{{ article.ArticleTitle }}</a
          >
          <div>
            <button mat-stroked-button (click)="editArticle(article)">
              Edit Article
            </button>
            <button mat-stroked-button (click)="deleteArticle(article)">
              Delete Article
            </button>
          </div>
        </mat-list-item>
        <mat-list-item
          ><div>
            {{ transPureString(article.ArticleContent) }}
          </div></mat-list-item
        >
        <mat-divider></mat-divider>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>
