<div class="df w100 story-field">
  <div class="title-field">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Your Article Title"
        [(ngModel)]="
          isNewStory
            ? ArticleModel.ArticleTitle
            : BeingEditedArticle.ArticleTitle
        "
      />

      <button
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="
          isNewStory
            ? (ArticleModel.ArticleTitle = '')
            : (BeingEditedArticle.ArticleTitle = '')
        "
      >
        <mat-icon>close</mat-icon>
      </button>

      <!-- <button
        mat-button
        *ngIf="BeingEditedArticle.Uid !== ''"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="BeingEditedArticle.ArticleTitle = ''"
      >
        <mat-icon>close</mat-icon>
      </button> -->
    </mat-form-field>
  </div>
  <div class="editor">
    <ckeditor
      [editor]="Editor"
      [config]="config"
      [(ngModel)]="
        isNewStory
          ? ArticleModel.ArticleContent
          : BeingEditedArticle.ArticleContent
      "
    ></ckeditor>
  </div>
  <div class="submit">
    <button
      mat-stroked-button
      *ngIf="isNewStory"
      class="publish"
      (click)="publish()"
    >
      Ready to publish?
    </button>
    <button
      mat-stroked-button
      *ngIf="!isNewStory"
      class="publish"
      (click)="editFinish()"
    >
      Edit Finish?
    </button>
  </div>
</div>
