<div class="df w100 story-field">
  <div class="title-field">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Your Article Title"
        [(ngModel)]="titlevalue"
      />
      <button
        mat-button
        *ngIf="titlevalue"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="titlevalue = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="editor">
    <ckeditor
      [editor]="Editor"
      [config]="config"
      [(ngModel)]="article.text"
    ></ckeditor>
  </div>
  <div class="submit">
    <button mat-stroked-button class="publish">
      Ready to publish?
    </button>
  </div>
</div>
