/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  background-image: url('https://i.imgur.com/VDWqgqy.jpg');
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0;
}

.innerHtml > figure.table > table {
  width: 100%;
  border: 1px #2d89f3 solid;
  border-collapse: collapse;
}
.innerHtml tr td {
  border: 1pt solid #2d89f3;
  padding-left: 10px;
}
.innerHtml tr th {
  border: 1pt solid #2d89f3;
  padding-left: 10px;
}
